@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: #000;
  }
  /* 
   * Prevent default scrollbar 
   */
  html,
  body {
    width: 100%;
    scrollbar-width: none;
    -webkit-text-size-adjust: 100%;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  main::-webkit-scrollbar,
  .disable-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 
   * Selection colors 
   */
  ::selection {
    background-color: #000;
    color: #fff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .mask-bottom {
    mask-image: linear-gradient(to top, transparent 20%, black 100%);
  }
  .mask-video {
    mask-image: linear-gradient(to top, transparent 50%, black 135%);
  }
  @media (min-width: 720px) {
    .mask-video {
      mask-image: linear-gradient(to top, transparent 20%, black 100%);
    }
  }
  .can-scroll-next {
    mask-image: linear-gradient(90deg, black 0%, black 90%, transparent 100%);
  }
  .can-scroll-prev {
    mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 100%);
  }
  .can-scroll-both {
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
  .backdrop-blur-fix {
    @apply relative;
    @apply overflow-hidden;
  }
  .backdrop-blur-fix::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
